<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans classpath:org/springframework/beans/factory/xml/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc classpath:org/springframework/web/servlet/config/spring-mvc-4.2.xsd">

	<mvc:interceptors>
		<!-- 判断Session -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/common/**" />
			<mvc:exclude-mapping path="/sup/**" />
			<mvc:exclude-mapping path="/framework/file/**" />
			<bean class="com.pm.organize.interceptor.SessionInterceptor" />
		</mvc:interceptor>

		<!-- 拦截系统访问记录 -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/sup/**" />
			<mvc:exclude-mapping path="/common/**" />
			<mvc:exclude-mapping path="/framework/file/**" />
			<bean class="com.pm.framework.interceptor.MethodLogInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
</beans>